.leaflet-toolbar {
    bottom: 100px;
}

.leaflet-toolbar-0 {
    list-style: none;
    padding-left: 0;
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);*/
}

.leaflet-toolbar-0>li {
    position: relative;
    /*    float: left;*/
}

.leaflet-toolbar-0>li>.leaflet-toolbar-icon {
    display: block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
}

.leaflet-toolbar-0>li>.leaflet-toolbar-icon:hover {
    background-color: #f4f4f4;
}

.leaflet-toolbar-0 .leaflet-toolbar-1 {
    display: none;
    list-style: none;
}

.leaflet-toolbar-1 {
    position: relative;
    float: left;
}

.leaflet-toolbar-tip-container {
    margin: 0 auto;
    height: 12px;
    position: relative;
    overflow: hidden;
}

.leaflet-toolbar-tip {
    width: 12px;
    height: 12px;
    margin: -6px auto 0;
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* L.Toolbar.Control */

.leaflet-control-toolbar {
    border: 1px solid #b6b6b6;
}

.leaflet-control-toolbar>li>.leaflet-toolbar-icon {
    border-bottom: 1px solid #ccc;
}

.leaflet-control-toolbar>li:first-child>.leaflet-toolbar-icon {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-control-toolbar>li:last-child>.leaflet-toolbar-icon {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 0;
}

.leaflet-control-toolbar .sub-toolbar {
    margin: 0;
    padding: 0;
    position: absolute;
    /* leaflet-draw-toolbar.left + leaflet-draw-toolbar.width */
    height: 26px;
    display: none;
}

.leaflet-control-toolbar .sub-toolbar>li {
    display: inline-block;
}

.leaflet-control-toolbar .sub-toolbar>li>.leaflet-toolbar-icon {
    display: block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
}

.leaflet-control-toolbar .sub-toolbar>li>.leaflet-toolbar-icon:hover {
    background-color: #a0a098;
}


/* L.Toolbar.Popup */

.leaflet-popup-toolbar {
    position: relative;
}

.leaflet-popup-toolbar>li {
    float: left;
}

.leaflet-popup-toolbar>li:first-child>.leaflet-toolbar-icon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leaflet-popup-toolbar>li:last-child>.leaflet-toolbar-icon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 0;
}

.leaflet-popup-toolbar .leaflet-toolbar-1 {
    position: absolute;
    top: 26px;
    left: 0;
    padding-left: 0;
}

.leaflet-popup-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
    position: relative;
    float: left;
    width: 26px;
    height: 26px;
}

.leaflet-mapchange-toolbar>li {
    float: none;
    height: 56px;
}

.leaflet-container a.leaflet-popup-close-button {
    font: bold 18px/14px Tahoma, Verdana, sans-serif;
    height: 14px;
    padding: 8px 6px 0 0;
    width: 28px;
}

.imap-control-computeArea.active {
    background-position: -438px -36px;
}

.imap-text {
    background-color: white;
    border: 1px solid red;
    padding: 2px;
    position: absolute;
    white-space: nowrap;
}

.imap-text.imap-polygon-text {
    border: 0 none;
}

.md-icon {
    background: transparent url("images/control.png") no-repeat scroll -12px 0px;
}

.md-remove-icon {
    background: transparent url("images/control.png") no-repeat scroll 0px 0px;
}

.dist-start,
.dist-point {
    border-color: #888888;
    color: #7a7a7a;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0 2px;
}

.toolbar-zoomin {
    background: rgba(0, 0, 0, 0) url("images/zoomin.png") no-repeat scroll 1px 2px;
    height: 26px;
}

.toolbar-zoomout {
    background: rgba(0, 0, 0, 0) url("images/zoomout.png") no-repeat scroll 1px 2px;
    height: 26px;
}

.toolbar-fullmap {
    background: rgba(0, 0, 0, 0) url("images/fullmap.png") no-repeat scroll 1px 2px;
    height: 26px;
}

.toolbar-zoomin:hover {
    background: rgba(0, 0, 0, 0) url("images/zoomin-h.png") no-repeat scroll 1px 2px;
}

.toolbar-zoomout:hover {
    background: rgba(0, 0, 0, 0) url("images/zoomout-h.png") no-repeat scroll 1px 2px;
}

.toolbar-fullmap:hover {
    background: rgba(0, 0, 0, 0) url("images/fullmap-h.png") no-repeat scroll 1px 2px;
}

.toolbar_measuerline {
    background: rgba(0, 0, 0, 0) url("images/measureline.png") no-repeat scroll 6px 7px;
    height: 20px;
}

.toolbar_measuerarea {
    background: rgba(0, 0, 0, 0) url("images/measuerarea.png") no-repeat scroll 6px 7px;
    height: 20px;
}